.janus-nav {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

body {
  padding-top: 60px;
}

.normalWrapOverride {
	white-space: normal !important;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.permalink {
	padding-right: 10px;
	padding-top: 5px;
}

.entry {
    padding-left: 12px;
    padding-bottom: 12px;
    
    background-color: #f9f9f9;
    
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    
    margin-bottom: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.milestoneEntry {
    padding-left: 12px;
    padding-bottom: 12px;
    
    background-color: #ddebff;
    
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    
    margin-bottom: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;	
}

.linkEntry {
    padding-left: 12px;
    padding-bottom: 12px;
    
    background-color: #ddebff;
    
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    
    margin-bottom: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;	
}

.widthOverride {
    width: auto !important;
}

.entryThumb {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    
    width: 67px !important;
    height: 90px !important;
}

.entryItem {
}

.noMoreEntries {
    padding-left: 12px;
    
    background-color: #abff6b;
    
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    
    margin-bottom: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.errorBox {
	min-width: 0px !important;
	min-height: 0px !important;
}

.title {
	margin-top: 5px;
	margin-bottom: 2px;
}

.subtitle {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #6e6e6e;
}

.milestoneTitle {
	margin-top: 0px;
	margin-bottom: 2px !important;
	margin-top: 12px !important;
}